@{
    Layout = "_Layout";
    ViewData["Title"] = "Spectrum Hackathon";
}
@model HomeViewModel
@using MapApiCore.Models

<div class="container-fluid">

    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Placeholder <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Placeholder
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Placeholder
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Placeholder
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-3 border-bottom">
                <h3>Route Map</h3>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" id="btnPollution" class="btn btn-sm btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Air Quality Index</button>
                        <button type="button" id="btnSchools" class="btn btn-sm btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Schools</button>
                    </div>
                </div>
            </div>

            <div id="mapContainer" class="my-4 w-100 mb-2"></div>
            <h3>Placeholder</h3>
            <div class="container">
                <div class="card-deck mb-3 text-center">
                    @foreach (var hvm in Model.RouteInfos)
                    {
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 my-0-font-weight-normat style="background-color: @hvm.ColorInHex"> @hvm.RouteLabel </h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"> Pollution @hvm.PollutionPoint </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Distance: @hvm.Distance</li>
                                    <li>Travel time: @hvm.Duration</li>
                                    <li>Travel cost: @hvm.TravelCost</li>
                                    <li>Schools: @hvm.SchoolCount</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </main>
    </div>
</div>

@section Scripts {

    <script>
        var map;
        var showPollution = false;
        var showSchools = false;
        var startTime = '12:00';

        var btnPollution = document.getElementById('btnPollution');
        var btnSchools = document.getElementById('btnSchools');
        var startTimeList = document.getElementById('startTimeList');

        btnPollution.onclick = function () {
            showPollution = !showPollution;
            initMap();
        };

        btnSchools.onclick = function () {
            showSchools = !showSchools;
            initMap();
        };

        startTimeList.onchange = function () {
            startTime = startTimeList.options[startTimeList.selectedIndex].value;

            initMap();
        };

        function initMap() {
            var src = 'https://spectrummapapi.azurewebsites.net/api/map/1?showPollution=' +
                showPollution +
                '&showSchools=' +
                showSchools +
                '&startTime=' +
                startTime +
                '&startName=NorthGreenwich&startLongitude=0.00447&startLatitude=51.49847&endName=Westerminster,endLongitude=-0.13563,endLatitude=51.4975';
            
            map = new google.maps.Map(document.getElementById('mapContainer'), {
                center: new google.maps.LatLng(51.49869, -0.12616),
                zoom: 12.2,
                mapTypeId: 'terrain'
            });

            var kmlLayer = new google.maps.KmlLayer(src, {
                suppressInfoWindows: false,
                preserveViewport: true,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>

}